.div {
    /* ширина 350px, висота 220px. */
    width: 350px;
    height: 220px;


    /* зверху 15px, зліва 10px, внизу 20px, праворуч 10px; зовнішній нижній відступ 30px. */
    margin: 15px 10px 20px 10px;

    padding-bottom: 30px;


    /* "пунктирну" границу червоного кольору товщиною 2px. */
    border: 2px dashed red;


    /* зелений "фон" елемента. */
    background-color: green;
}