.div {
    /* ширина 350px, висота 220px. */
    width: 350px;
    height: 220px;


    /* зверху 15px, зліва 10px, внизу 20px, праворуч 10px; зовнішній нижній відступ 30px. */
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;

    padding-bottom: 30px;


    /* "пунктирну" границу червоного кольору товщиною 2px. */
    border: red 2px dashed;


    /* зелений "фон" елемента. */
    background-color: green;
}